[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "external/vulkan-memory-allocator"]
	path = external/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/vulkan-memory-allocator-hpp"]
	path = external/vulkan-memory-allocator-hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "external/libspng"]
	path = external/libspng
	url = https://github.com/randy408/libspng
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
