[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/vulkan-memory-allocator"]
	path = external/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2
[submodule "external/uuid"]
	path = external/uuid
	url = https://github.com/boostorg/uuid
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
[submodule "external/lua/src"]
	path = external/lua/src
	url = https://github.com/lua/lua
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/libspng"]
	path = external/libspng
	url = https://github.com/randy408/libspng
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
