[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/vulkan-memory-allocator"]
	path = external/vulkan-memory-allocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/spirv-reflect"]
	path = external/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp
[submodule "external/uuid"]
	path = external/uuid
	url = https://github.com/boostorg/uuid
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/libspng"]
	path = external/libspng
	url = https://github.com/randy408/libspng
[submodule "external/libktx"]
	path = external/libktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/vulkan"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "external/vulkan-loader"]
	path = external/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2
[submodule "external/magic-enum"]
	path = external/magic-enum
	url = https://github.com/Neargye/magic_enum
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/spirv-tools"]
	path = external/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "external/spirv-headers"]
	path = external/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "external/libtomcrypt"]
	path = external/libtomcrypt
	url = https://github.com/libtom/libtomcrypt
[submodule "external/libtommath"]
	path = external/libtommath
	url = https://github.com/libtom/libtommath
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "external/sqlitecpp"]
	path = external/sqlitecpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "external/vulkan-hpp"]
	path = external/vulkan-hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
